<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poetsen+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/input-numspin.min.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
    {# footer #}
    <br><br>
    <footer class="footer">
        <div class="container">
            {% extends "parts/footer.html" %}
        </div>
    </footer>

</body>
</html>