



<div class="row">
    <div class="col-md-12">
        <div class="footer-bg">
            <div class="row">
                <div class="col-md-9">
                    <div class="footer-menu">
                        <ul>
                            <li class="active"><a href="/">home</a></li>
                            <li><a href="/profile">Select Products</a></li>
                            <li><a href="/contacts">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-icon">
                        <p>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/input-numspin.min.js"></script>
    <script src="/static/js/main.js"></script>
  